#include "{{precompiledHeader}}"//pch

#include "{{moduleFileHeader}}"
#include "{{moduleFileSourceHeader}}"//need parsed header file

namespace MetaGenerated
{
    void AllocateModuleFile{{targetName}}{{moduleFileName}}()
    {
        //------register------


        //------register------
    }
}