#include "{{moduleHeaderFile}}"

{{#moduleFile}}
#include "{{& header}}"
{{/moduleFile}}

void AllocateModule()
{
    {{#moduleFile}}
    AllocateModuleFile{{&moduleFileName}}{{&name}}();
    {{/moduleFile}}
}

