#include "{{precompiledHeader}}"//pch

#include "{{moduleFileHeader}}"
#include "{{moduleFileSourceHeader}}"//need parsed header file
#include "rttr/registration.h"

void AllocateModuleFile{{targetName}}{{moduleFileName}}()
{
    //------register------
    using namespace rttr;
    {{#class}}
    registration::class_<{{qualifiedName}}>("{{qualifiedName}}")
    .constructor<>()
    {{#field}}
    .property("{{&name}}", &{{&parentQualifiedName}}::{{&name}})
    {{#metaPropertyHaveBrackets}}
    (
    {{/metaPropertyHaveBrackets}}
    {{#metaProperty}}
        metadata("{{&type}}", {{&type}}({{&arguments}})){{^isLast}},{{/isLast}}
    {{/metaProperty}}
    {{#metaPropertyHaveBrackets}}
    )
    {{/metaPropertyHaveBrackets}}
    {{/field}}

    {{/class}};
    //------register------
}
